si_exported
si_images
resources
tiled
*.txt
*.log
*.png
*.jpg
*.py
*.mp3
*.ogg
*.wav
*.WAV
*.wma
*.flac
*.fdp
*.fdp.bak
*.fdp.autosave
*.obj
*.fobj
*.rar
.vscode
.idea
.fsbcache
.git
*.bash